/* src/tailwind.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body{
    /* background-image: url(../assets/back.png); */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating */
    background-attachment: fixed; /* Fixed background */
    background-color: #111827; /* Background color with opacity */
    overflow: auto; /* Hide scrollbars */
  }
  @media screen and (max-width: 768px) {
    .sidebar {
        overflow: hidden; /* Example for mobile devices */
    }
}